
.DS_Store

scripts/markdown/

infrastructure/cdk.out/

infrastructure/node_modules/

infrastructure/frontend/node_modules/

infrastructure/frontend/dist/

infrastructure/parameters.json

mcp-servers/keri-chat/node_modules/

mcp-servers/keri-chat/dist/
